{% extends "./week.html" %}

{% block title %}
    <h2>Week Day {{ object.day }}</h2>
{% endblock title %}

{% block day_detail %}
    <ul>
        {% for note in object.note_set.all %}
            <li>{{ note.title }}</li>
        {% endfor %}
    </ul>

    <form action="{% url 'new_note' object.id %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.title.id_for_label }}">Title:</label>
            {{ form.title }}
            {{ form.title.errors }}
        </div>
        <div class="form-group">
            <label for="{{ form.msg.id_for_label }}">Message:</label>
            {{ form.msg }}
            {{ form.msg.errors }}
        </div>
        <div class="form-group">
            <label for="{{ form.assignee.id_for_label }}">Assignee:</label>
            {{ form.assignee }}
            {{ form.assignee.errors }}
        </div>
        <div class="form-group">
            <label for="{{ form.email.id_for_label }}">Email:</label>
            {{ form.email }}
            {{ form.email.errors }}
        </div>
        <button type="submit">Save</button>
    </form>

{% endblock day_detail %}